.env/
.vscode/
pinger_client/.env
pinger_backend/.env
pinger_backend/data/pinger_server/.env
pinger_backend/db/*
tests and or rubbish bin/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
pinger_backend/data/api/migrations/*
pinger_backend/data/collector/migrations/*
grafana/data/grafana.db
